In [8]:
# -*- coding: utf-8 -*-
import re
from time import sleep
from bs4 import BeautifulSoup
import requests
import MeCab as mc
import feedparser
from crawllist import *
import urllib
from collections import Counter
import os
import redis



crawl_address = os.getenv("CRAWL_ADDRESS")
r = redis.StrictRedis(host=crawl_address, port=6379, db=0)

#r = redis.StrictRedis(host='localhost', port=6379, db=0)
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime, date, timedelta
#URL
slothlib_path = 'http://svn.sourceforge.jp/svnroot/slothlib/CSharp/Version1/SlothLib/NLP/Filter/StopWord/word/Japanese.txt'
#requestを用いて、URLを開く
slothlib_file = urllib.request.urlopen(slothlib_path)
#文字列前後の全角スペースを除去する
slothlib_stopwords = [line.decode("utf-8").strip() for line in slothlib_file]
#
stop_words = [ss for ss in slothlib_stopwords if not ss==u'']

In [9]:
text = "text01385"

In [27]:
#redisを使う
rens1 = r.zrevrange("all_urls/2018-08-26",0,-1,withscores=True)
#redisを使う
rens2 = r.zrevrange("all_urls/2018-08-27",0,-1,withscores=True)                    
#redisを使う
rens3 = r.zrevrange("all_urls/2018-08-28",0,-1,withscores=True)                    
                    
#redisを使う
rens4 = r.zrevrange("all_urls/2018-08-29",0,-1,withscores=True)

In [28]:

#arnoldoy = [int(ren[1]) for ren in rens]
#arnoldox = [ren[0].decode('utf-8') for ren in rens ]
#arnoldo = [(ren[0].decode('utf-8'),ren[1]) for ren in rens ]
arnoldoy1 = [ren[1] for ren in rens1 if len(ren[0].decode('utf-8'))>1 and ren[1]>10]
arnoldox1= [ren[0].decode('utf-8') for ren in rens1 if len(ren[0].decode('utf-8'))>1 and ren[1]>10]
arnoldo1 = [(ren[0].decode('utf-8'),ren[1]) for ren in rens1 if len(ren[0].decode('utf-8'))>1 and ren[1]>10]

#arnoldoy = [int(ren[1]) for ren in rens]
#arnoldox = [ren[0].decode('utf-8') for ren in rens ]
#arnoldo = [(ren[0].decode('utf-8'),ren[1]) for ren in rens ]
arnoldoy2 = [ren[1] for ren in rens2 if len(ren[0].decode('utf-8'))>1 and ren[1]>10]
arnoldox2 = [ren[0].decode('utf-8') for ren in rens2 if len(ren[0].decode('utf-8'))>1 and ren[1]>10]
arnoldo2 = [(ren[0].decode('utf-8'),ren[1]) for ren in rens2 if len(ren[0].decode('utf-8'))>1 and ren[1]>10]


#arnoldoy = [int(ren[1]) for ren in rens]
#arnoldox = [ren[0].decode('utf-8') for ren in rens ]
#arnoldo = [(ren[0].decode('utf-8'),ren[1]) for ren in rens ]
arnoldoy3 = [ren[1] for ren in rens3 if len(ren[0].decode('utf-8'))>1 and ren[1]>10]
arnoldox3 = [ren[0].decode('utf-8') for ren in rens3 if len(ren[0].decode('utf-8'))>1 and ren[1]>10]
arnoldo3 = [(ren[0].decode('utf-8'),ren[1]) for ren in rens3 if len(ren[0].decode('utf-8'))>1 and ren[1]>10]


#arnoldoy = [int(ren[1]) for ren in rens]
#arnoldox = [ren[0].decode('utf-8') for ren in rens ]
#arnoldo = [(ren[0].decode('utf-8'),ren[1]) for ren in rens ]
arnoldoy4 = [ren[1] for ren in rens4 if len(ren[0].decode('utf-8'))>1 and ren[1]>10]
arnoldox4 = [ren[0].decode('utf-8') for ren in rens4 if len(ren[0].decode('utf-8'))>1 and ren[1]>10]
arnoldo4 = [(ren[0].decode('utf-8'),ren[1]) for ren in rens4 if len(ren[0].decode('utf-8'))>1 and ren[1]>10]

In [29]:
#フォントの設定
mpl.rcParams["font.family"]

['IPAexGothic']

In [34]:
df1

            date       word  word_count
0     2018-08-26         する       684.0
1     2018-08-26     日刊スポーツ       413.0
2     2018-08-26         日本       356.0
3     2018-08-26      オンライン       341.0
4     2018-08-26       産経新聞       337.0
5     2018-08-26     スポーツ報知       301.0
6     2018-08-26        WEB       289.0
7     2018-08-26        日本版       285.0
8     2018-08-26  スポニチアネックス       277.0
9     2018-08-26   サンケイスポーツ       265.0
10    2018-08-26       ニュース       260.0
11    2018-08-26         なる       256.0
12    2018-08-26         監督       244.0
13    2018-08-26         いる       243.0
14    2018-08-26        .jp       239.0
15    2018-08-26        Web       234.0
16    2018-08-26       日本語版       230.0
17    2018-08-26         映画       219.0
18    2018-08-26     ONLINE       216.0
19    2018-08-26       .com       216.0
20    2018-08-26         世界       213.0
21    2018-08-26         中国       211.0
22    2018-08-26         開催       210.0
23    2018-08-26         理由       207.0
24    2018-08-26         語る       194.0
25    2018-08-26         by       192.0
26    2018-08-26         PR       191.0
27    2018-08-26         選手       190.0
28    2018-08-26         ある       190.0
29    2018-08-26         女性       185.0
...          ...        ...         ...
2696  2018-08-26        すごく        11.0
2697  2018-08-26        こども        11.0
2698  2018-08-26        かかる        11.0
2699  2018-08-26       おいしい        11.0
2700  2018-08-26         いっ        11.0
2701  2018-08-26       あるある        11.0
2702  2018-08-26       あふれる        11.0
2703  2018-08-26        the        11.0
2704  2018-08-26        ray        11.0
2705  2018-08-26    YouTube        11.0
2706  2018-08-26    SENSORS        11.0
2707  2018-08-26         NG        11.0
2708  2018-08-26        MRT        11.0
2709  2018-08-26         JA        11.0
2710  2018-08-26   Facebook        11.0
2711  2018-08-26        EDN        11.0
2712  2018-08-26         CG        11.0
2713  2018-08-26        Blu        11.0
2714  2018-08-26         ?（        11.0
2715  2018-08-26      8月26日        11.0
2716  2018-08-26      8月24日        11.0
2717  2018-08-26         7割        11.0
2718  2018-08-26         3発        11.0
2719  2018-08-26         3戦        11.0
2720  2018-08-26         34        11.0
2721  2018-08-26        25歳        11.0
2722  2018-08-26      2017年        11.0
2723  2018-08-26        18歳        11.0
2724  2018-08-26        16歳        11.0
2725  2018-08-26         !（        11.0

[2726 rows x 3 columns]

In [30]:
df1 = pd.DataFrame({"word_count":arnoldoy1,"word":arnoldox1,"date":"2018-08-26"})
df2 = pd.DataFrame({"word_count":arnoldoy2,"word":arnoldox2,"date":"2018-08-27"})
df3 = pd.DataFrame({"word_count":arnoldoy3,"word":arnoldox3,"date":"2018-08-28"})
df4 = pd.DataFrame({"word_count":arnoldoy4,"word":arnoldox4,"date":"2018-08-29"})

In [66]:
df11= pd.pivot_table(df1[:20], index="date",columns="word")
df22= pd.pivot_table(df2[:20], index="date",columns="word")
df33= pd.pivot_table(df3[:20], index="date",columns="word")
df44= pd.pivot_table(df4[:20], index="date",columns="word")

In [67]:
total=pd.concat([df11,df22,df33,df44])

In [68]:
total.fillna(0)

           word_count                                                          \
word             .com    .jp Impress Watch  JAPAN ONLINE     PR    WEB    Web
date
2018-08-26      216.0  239.0           0.0    0.0  216.0    0.0  289.0  234.0
2018-08-27      247.0    0.0         340.0    0.0    0.0    0.0  296.0  289.0
2018-08-28        0.0    0.0         290.0    0.0  233.0    0.0  301.0  275.0
2018-08-29      245.0    0.0           0.0  221.0  234.0  222.0  292.0  322.0

                          ...                                              \
word           いる     する  ...       日本    日本版   日本語版     映画     理由   産経新聞
date                      ...
2018-08-26  243.0  684.0  ...    356.0  285.0  230.0  219.0    0.0  337.0
2018-08-27  256.0  745.0  ...    381.0  277.0  322.0  249.0    0.0  416.0
2018-08-28  248.0  739.0  ...    411.0  250.0  308.0  266.0    0.0  432.0
2018-08-29    0.0    0.0  ...    440.0  267.0  313.0  263.0  227.0    0.0


word           発表     監督     開催     韓国
date
2018-08-26    0.0  244.0    0.0    0.0
2018-08-27    0.0    0.0  261.0    0.0
2018-08-28    0.0    0.0  257.0    0.0
2018-08-29  269.0    0.0  234.0  239.0

[4 rows x 32 columns]

In [63]:
total=pd.concat([df22,df33,df44])

In [64]:
total.fillna(0)

              word_count                                                   \
word       Impress Watch    WEB    Web     する  オンライン   ニュース     公開 日刊スポーツ
date
2018-08-27         340.0  296.0  289.0  745.0  387.0  291.0    0.0  391.0
2018-08-28         290.0  301.0  275.0  739.0  394.0  299.0    0.0  304.0
2018-08-29           0.0  292.0  322.0    0.0  383.0  291.0  298.0    0.0


word           日本    日本版   日本語版     映画   産経新聞     発表
date
2018-08-27  381.0    0.0  322.0    0.0  416.0    0.0
2018-08-28  411.0    0.0  308.0    0.0  432.0    0.0
2018-08-29  440.0  267.0  313.0  263.0    0.0  269.0

In [65]:
df11

           word_count                                                        \
word              WEB     する  オンライン サンケイスポーツ スポニチアネックス スポーツ報知 日刊スポーツ     日本
date
2018-08-26      289.0  684.0  341.0    265.0     277.0  301.0  413.0  356.0


word          日本版   産経新聞
date
2018-08-26  285.0  337.0

In [1]:
import os

print(os.getcwd())

/home/vagrant/wordcrawling